<div id="nav_social">
    <ul>
        <li>
            <a href="https://www.facebook.com/maicon.deivid.750" 
                target="_blank" 
                class="face"><img 
                src="/face.png" 
                class="icons"></a>
        </li>
        <li>
            <a href="https://www.instagram.com/maicondesantana/" 
                target="_blank" 
                class="insta"><img 
                src="/insta.png" 
                class="icons"></a>
        </li>
        <li>
            <a href="https://twitter.com/MaiconS14691560" 
                target="_blank" 
                class="twitter"><img 
                src="/twitter.png" 
                class="icons"></a>
        </li>
        <li>
            <a href="https://www.linkedin.com/in/maicon-deivid-b429a81b0" 
                target="_blank" 
                class="linke"><img 
                src="/linkedin.png" 
                class="icons"></a>
        </li>
        <li>
            <a href="https://github.com/maicon-deivid05" 
                target="_blank" 
                class="github"><img 
                src="/github-logo.png" 
                class="icons"></a>
        </li>
    </ul>

</div>